<!DOCTYPE html>
<html lang="en">
  
  <head>
    <%- include('./partials/head')%> <!--head-->
    <title>The Narrative - Signup</title>
  </head>

  <body class="bg-dark">
    <header></header>
    
    <%- include('./partials/nav')%> <!--navbar-->

    <main>
      
      <!-- signup form -->
      <form method="post" action="/auth/signup" class="row g-3 text-white list-group align-items-center m-5">

        <% if (locals?.err) { %>
          <div class="alert alert-danger col-2" role="alert">
            <%=locals.err%>
          </div>
        <% } %>

        <!-- name -->
        <div class="col-3">
          <label for="inputFullname" class="form-label">Full Name</label>
          <input type="text" class="form-control" id="inputFullname" placeholder="John Doe" name="fullname" required/>
        </div>
         
        <!-- email -->
        <div class="col-3">
          <label for="inputEmail4" class="form-label">Email</label>
          <input type="email" class="form-control" id="inputEmail4" placeholder="example@email.com" name="email" required/>
        </div>

        <!-- password -->
        <div class="col-3">
          <label for="inputPassword" class="form-label">Password</label>
          <input type="password" class="form-control" id="inputPassword" placeholder="Password" name="password" required/>
        </div>

        <!-- gender -->
        <div class="col-3">
          <label for="inputGender" class="form-label">Gender</label>
          <select id="inputGender" class="form-select" name="gender" required >
            <option value="">Choose...</option>
            <option value="Male">Male</option>
            <option value="Female">Female</option>
          </select>
        </div>

        <div class="col-12 text-center mt-4">
          <button type="submit" class="btn btn-primary" style="width: 10%;">Sign up</button>
        </div>

        <p class="col-3 text-center m-4">Already a user? <a href="/auth/signin">Sign in</a></p>

      </form>


    </main>

    <footer></footer>

    <%- include('./partials/scripts')%> <!--js-->
  </body>

</html>